body {
    background-color: #dddcdc;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-transform: uppercase;
    text-align: center;
}
.caja {
    margin: 0 80px;
}
h2 {
    color: white;
    background-color: grey;
    text-transform: uppercase;
}
.bloque {
    margin: 10px 200px;
    display: inline-flex;
}
.rojo {
    color: red;
    font-style: italic;
}
.blanco {
    background-color: white;
    font-weight: bold;
}