body {
    background-color: lightgrey;
}
.titulo-principal {
    text-align: center;
    letter-spacing: 10px; /*Sirve para separar letras*/
}
.contenido-principal {
    width: 90%;
    margin: 0 auto;
}
.contenido-principal .encabezado {
    background-color: gray;
    color: white;
    padding: 10px 5px;
}

.contenido-principal .contenido {
    width: 70%;
    margin: 0 auto;
}

.contenido-principal .contenido-imagen {
    float: left;
}

.contenido-principal .contenido-texto {
    margin-left: 150px;
}

.contenido-principal .contenido-texto p{
    text-indent: 20px;
    text-align: justify;
}